* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
.o-conitainer1 {
    width: 100%;
    display:grid;
    display: flex;
    background-color: #D8D6D7;
}
.o-container2 {
    width: 80%;
    background-color: #D8D6D7;
    margin:20px auto;
}

.o-4container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding:10px;
    border-top: 1px solid  #C33132;
    border-bottom: 1px solid  #C33132;
}
.o-4div {
    width:100%;
    background-color:white;
    padding:5px;
    border-radius: 1px;
}
.o-2columns {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap:7px;
    padding:20px;
}
.o-paper-format {
    width:100%;
}
.height {
    height: auto;
}
.o-blue {
    background-color:  #D8D6D7;
    width: 100%;

}
.o-a {
    text-decoration:none;
    font-size: 14px;
}
.o-side {
    display:grid;
    grid-template-columns:30% 70%;
    grid-gap:5px;
    padding: 5px;
    font-size: 12px;
    border-bottom: 1px solid  #C33132;
}
.o-side  a {
    font-size: 11px;;
}
.o-height  {
    height: 450px;
}
.o-border-radius{
    border-radius: 7px;
    border-top:5px solid  #C33132;
}
.o-section {
    grid-template-columns: repeat(6, 1fr);
}
.o-border-left {
    border-left:5px solid  #C33132;
}

@media (max-width:950px) {
    body {
        background-color: #D8D6D7;;
    }
    .o-container2{
        width:90%;
    }
    .o-4container {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 0px
    } 
    .o-4div{
        padding:5px 4px;
    }     
    .o-2columns {
        display:block;
        padding: 10px 0px
    }
    .o-height{
        height:auto
    }
    .o-2columns img{
        object-fit: cover;
        width:80%
    }
}